# ACLED OAuth access_token (24h 유효)
# 발급: curl -X POST "https://acleddata.com/oauth/token" \
#   -H "Content-Type: application/x-www-form-urlencoded" \
#   -d "username=이메일&password=비밀번호&grant_type=password&client_id=acled"
# 응답의 access_token 값을 아래에 설정
# ACLED_API_TOKEN=your_access_token_here
